@model IEnumerable<PB2B.Entity.A_MNTL_STOK_2018>

@{
    ViewBag.Title = "Cariler";
    Layout = ViewBag.MasterGenel;//"~/Views/Shared/LTEMASTER.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        Cari Arama Ekranı
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <label>Cari Bilgisi</label>
                <div class="input-group">
                    <span class="input-group-addon" style="background-color:#ab1313; color:white;">
                        <i class="fa fa-search"></i>
                    </span>
                    <input type="text" name="searchparams" placeholder="Cari Adı,Kodu" id="TXTSearch" class="form-control" />
                </div>
                
            </div>
            <div class="col-md-1">
                <label>Gün</label>
                <input type="number" name="ayNo" id="TXTAy" class="form-control" />
            </div>
            <div class="col-md-2">
                <label></label>
                <select id="CMBHareket" name="CMBHareket" class="form-control">
                    <option selected>Tümü</option>
                    <option>Hareketli</option>
                    <option>Hareketsiz</option>

                </select>
            </div>
            <div class="col-md-2">
                <label>Yeni/Eski</label>
                <select id="CMBYeniEski" name="CMBYeniEski" class="form-control">
                    <option selected>Tümü</option>
                    <option>Yeni</option>
                    <option>Eski</option>
                </select>
            </div>
            <div class="col-md-1" style="margin-top:21px;">
                
                <button class="btn btn-primary" style="width:100%;" onclick="UrunGetir()">
                    Ara
                </button>
            </div>
        </div>
        <div id="LBLProgress" class="col-lg-12 text-center" style="display:none;font-size:15pt;background:#AB1313;color:#fff;">Yükleniyor...</div>
        <div id="partialTable">

        </div>
        <script>
          function UrunGetir() {
              var searchParam = $("#TXTSearch").val();
              var TXTAy = $("#TXTAy").val();
              var hareket = $('#CMBHareket ').find('option:selected').text();
              var eski = $('#CMBYeniEski').find('option:selected').text();
             // alert(hareket);
              var url = "@Url.Action("CariListPartial","Genel")";
              $("#LBLProgress").show();
              $("#partialTable").load(url + "?searchParams=" + searchParam + "&ayNo=" + TXTAy + "&hareket=" + hareket + "&eski=" + eski + "", function () {
                  $("#LBLProgress").hide();
              });
          }
        </script>
    </div>
</div>