@{ 

}
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Miktar</label>
            <input type="number" name="miktar" class="form-control" />
        </div>
    </div>
</div>