
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LTEMusteriMaster.cshtml";
}


<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Cari Genel Rapor Ekranı
        </div>
        <div class="panel-body">
            <a href="#">
                <div class="col-md-3">
                    <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white; ">
                        <i class="pull-left fa fa-turkish-lira icon-rounded" style="background-color:darkred;"></i>
                        <div class="stats">
                            <h5><strong class="text-white">452 Tl</strong></h5>
                            <span class="text-white">Bakiye</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3 ">
                    <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
                        <i class="pull-left fa fa-bullhorn icon-rounded" style="background-color:darkred;"></i>
                        <div class="stats">
                            <h5><strong class="text-white">452 Tl</strong></h5>
                            <span class="text-white">Geciken</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3 ">
                    <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
                        <i class="pull-left fa fa-calendar icon-rounded" style="background-color:darkred;"></i>
                        <div class="stats">
                            <h5><strong class="text-white">452 Tl</strong></h5>
                            <span class="text-white">Gecikme Günü</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3 ">
                    <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
                        <i class="pull-left fa fa-warning icon-rounded" style="background-color:darkred;"></i>
                        <div class="stats">
                            <h5><strong class="text-white">452 Tl</strong></h5>
                            <span class="text-white">Bekleyen</span>
                        </div>
                    </div>
                </div>
            </a>

            <br /><br /> @*Alt Divler*@

            <a href="#">
                <div class="col-md-3 ">
                    <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
                        <i class="pull-left fa fa-bell icon-rounded" style="background-color:darkred;"></i>
                        <div class="stats">
                            <h5><strong class="text-white">452 Tl</strong></h5>
                            <span class="text-white">Vade Günü</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3 ">
                    <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
                        <i class="pull-left fa fa-briefcase icon-rounded" style="background-color:darkred;"></i>
                        <div class="stats">
                            <h5><strong class="text-white">452 Tl</strong></h5>
                            <span class="text-white">Ortalama Vade</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3 ">
                    <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
                        <i class="pull-left fa fa-bullseye icon-rounded" style="background-color:darkred;"></i>
                        <div class="stats">
                            <h5><strong class="text-white">452 Tl</strong></h5>
                            <span class="text-white">Ortalama Vade</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3 ">
                    <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
                        <i class="pull-left fa fa-star icon-rounded" style="background-color:darkred;"></i>
                        <div class="stats">
                            <h5><strong class="text-white">452 Tl</strong></h5>
                            <span class="text-white">Ortalama Vade</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

