@model  PB2B.Entity.JSrG_GenelCari_006_04
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LTEMusteriMaster.cshtml";
}


<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Cari Genel Rapor Ekranı
        </div>
        <div class="panel-body" id="partialReport"></div>
    </div>
</div>

<script>

    window.onload = new function () {
        var url ="@Url.Action("MusteriRaporPArtial", "Musteri")";
        $("#partialReport").load(url);
    }
</script>

