
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LTEMusteriMaster.cshtml";
}


<div class="row">

    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-dollar icon-rounded"></i>
            <div class="stats">
                <h5><strong>452 Tl</strong></h5>
                <span>Bakiye</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-bullhorn icon-rounded"></i>
            <div class="stats">
                <h5><strong>452 Tl</strong></h5>
                <span>Geciken</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-calendar icon-rounded"></i>
            <div class="stats">
                <h5><strong>452 Tl</strong></h5>
                <span>Gecikme Günü</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-warning icon-rounded"></i>
            <div class="stats">
                <h5><strong>452 Tl</strong></h5>
                <span>Bekleyen</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-warning icon-rounded"></i>
            <div class="stats">
                <h5><strong>452 Tl</strong></h5>
                <span>Vade Günü</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-warning icon-rounded"></i>
            <div class="stats">
                <h5><strong>452 Tl</strong></h5>
                <span>Ortalama Vade</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-warning icon-rounded"></i>
            <div class="stats">
                <h5><strong>452 Tl</strong></h5>
                <span>Ortalama Vade</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-warning icon-rounded"></i>
            <div class="stats">
                <h5><strong>452 Tl</strong></h5>
                <span>Ortalama Vade</span>
            </div>
        </div>
    </div>
</div>