@{
                /**/

                Layout = null;
}
<!DOCTYPE HTML>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>FAVio Sipariş Modülü Giriş Ekranı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/font-awesome.css" rel="stylesheet">
    <link href='~/web/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <script src="~/web/js/jquery-1.11.1.min.js"></script>
    <script src="~/web/js/modernizr.custom.js"></script>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <script src="~/web/js/metisMenu.min.js"></script>
    <script src="~/web/js/custom.js"></script>
    <link href="~/web/css/custom.css" rel="stylesheet">
</head>
<body>
    <div id="page">
        <div class="main-page login-page " style="width:500px;">
            <div style="background-color:#E80405;" class="text-center"><img src="~/web/images/logo.jpg" width="228"></div>
            <div class="widget-shadow">
                <div class="login-body">
                    <form action="/" method="post" novalidate>
                        <input type="email" class="user" name="Adi" placeholder="Kullancı Adı">
                        <input type="password" name="Sifresi" class="lock" placeholder="Şifre">
                        <div class="forgot-grid">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Beni Hatırla</label>
                            <div class="clearfix"> </div>
                        </div>
                        <input type="submit" name="Sign In" style="background:#E80405" value="Giriş Yap">
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>